
    
      <ul class="nav flex-column">

        <li class="nav-item">
          <a class="nav-link" (click)="onProfileClick()">
            Customer Profile
          </a>


        <li class="nav-item">
          <a class="nav-link" (click)="onAddressClick()">
            Customer Address
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newaddress">
            Customer Device
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order">
            Customer Order
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wishlist">
            Customer Wishlist
          </a>
        </li>
      </ul>

    

  
