<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-4">
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR2v8jGQFEHwDE0bEIm2Sofs-0n5RUWyiNtY_JQw46IozVB-YPU" alt="" height="150px" width="100px">
                </div>
                <div class="col-8">
                    <div class="detailsproduct">
                        <h1 class="brandname"><strong>BrandName</strong></h1>
                        <h1 class="ProductName">ProductName</h1>
                        <h1 class="SoldBy">SoldBy:Priyam Chauhan</h1>
                        <div class="productButton">
                            <button type="submit" class="buttonSize">Size :7 <span></span></button>
                            <button type="submit" class="buttonSize">Qtny :7 <span></span></button>
                        </div>
                        <h1 class="brandname"><strong>Rs. 3300</strong></h1>
                        <h1 class="ProductName"><i class="fa-solid fa-arrow-rotate-left" style="color: #000000;"></i><strong style="color: black;">  14 Days </strong> return Available</h1>
                    </div>
               
                </div>
            </div>
        </div>
       

    </div>
</div>
