<div class="container">
    <div class="row"  style="gap: 20px;">
        <div class="card" *ngFor="let cartitemproduct of cartItemProductdtolist ; let i = index" >
            <div class="card-body">
                <div class="col-4">
                    <img src={{cartitemproduct.productDto?.filename}} alt="" height="150px" width="100px">
                </div>
                <div class="col-8">
                    <div class="detailsproduct">
                        <h1 class="brandname"><strong>{{cartitemproduct.productDto?.brandname}}</strong></h1>
                        <h1 class="ProductName">{{cartitemproduct.productDto?.productname}}</h1>
                        <h1 class="SoldBy">SoldBy:Priyam Chauhan</h1>
                        <div class="productButton">
                            
                            <button type="submit" class="buttonSize">Size : <span>{{cartitemproduct.size}}</span>
                               
                                
                            </button>
                        
                            <button type="submit" class="buttonSize">Qunty : <span>{{cartitemproduct.quantity}}</span></button>
                           
                        </div>
                        <h1 class="brandname"><strong>Rs. {{cartitemproduct.productDto?.price}}</strong></h1>
                        <h1 class="ProductName"><i class="fa-solid fa-arrow-rotate-left" style="color: #000000;"></i><strong style="color: black;">  14 Days </strong> return Available</h1>
                    </div>
               
                </div>
            </div>
        </div>
       

    </div>
</div>
