<div class="container">
  <div class="row">
    <app-products-offers></app-products-offers>
  </div>
  <hr />
  <div class="row">
    <div class="card">
      <div class="card-body productamountDetails">
        <h1><strong>PRICE DETAILS (1 Item)</strong></h1>
        <div class="totalMRP">
          <h1>Total MRP</h1>
          <h1>Rs. 2230</h1>
        </div>
        <div class="DiscountMRP">
          <h1>Discount on MRP</h1>
          <h1>Rs. 1400</h1>
        </div>
        <div class="Convinencefees">
          <h1>Convinence Fees</h1>
          <h1>Rs. 20</h1>
        </div>
        <hr />
        <div class="totalAMount">
          <h1><Strong>Total Amount</Strong></h1>
          <h1><Strong>Rs. 5000</Strong></h1>
        </div>
        <hr>
        <button type="submit" class="placeorder">PLACE ORDER</button>
      </div>
    </div>
  </div>
</div>
