<div class="fluid-container">
    <div class="row">
        <div class="col-3">
            <div class="card " style="background-color: grey;">
                <div class="card-body">
                    <app-sidemenu1></app-sidemenu1>
                </div>
            </div>
              
            
        </div>

        <!-- Second Child Component (col-7) -->
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <app-sidemenu2></app-sidemenu2>
                </div>
            </div>
        </div>
    </div>
</div>

