/* styles.css */

/* Style for the first child component (col-3) */
.col-3 {
    background-color: #b8d7f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Style for the second child component (col-9) */
.col-9 {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the card components */
.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the card body */
.card-body {
    padding: 20px;
}

/* Style for app-sidemenu1 and app-sidemenu2 components */

