.productDetialsContainer{
    padding:10px;
}
.productDetialsContainer h2{
color: gray;
font-weight: 400;
opacity: 0.6;
}
.ratingdetails{
    display: flex;
    gap: 5px;
    size: 5px;
   
}

.ratingdetails i{
   
    font-size: 10px;
}
.ratingdetails h1{
    margin-top: 2px;
    font-size: 15px;
}
.pricedetials{
    display: flex;
    gap: 20px;
    
}
.productSizedetials{
    display: flex;
    gap: 10px;

}
.card{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}
.card-body h1{
    font-size: 15px;
    color: pink;
}

.activebackground{
   
    background-color: grey;
}
.card-body{
    padding: 15px 0px 0px 2px;
    text-align: center;
}

.CartDetails{

    margin-top: 20px;
    
}
.cartbutton{
    display: inline;
    color:  rgb(247, 69, 99); 
    background-color: white;
    width: 45%;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 20px 1px #ff7e7e54;
    margin-right: 10px;

}
.cartbutton:hover{
    background-color: rgb(247, 69, 99);
    color: white;
}